{{>headerAspirante}}

<body>
	<div class="container">
		<br>
		<h3>Mis mensajes</h3>
		<br>
		
		<div id="chat"></div>


		{{!-- <script src="/public/socket.io/socket.io.js"></script> --}}
   		<script src="/public/js/socket.js"></script>
	</div>
</body>