{{>headerAspirante}}

<body>
	<div class="container">
		<br>
		<h3>Mis mensajes</h3>
		<br>
		



		{{!-- <script src="socket.io/socket.io.js"></script> --}}
   		<script src="/js/socket.js"></script>
	</div>
</body>