<!DOCTYPE html>

<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
	<br><br><br>
	<div class="container">
		<h1>Tecnológico de Antioquia</h1>
		<h3>Educación Continua</h3>
		<br>
		<div class="row no-gutters">
	  		<form action="/index" method="get">
				<button class="btn btn-dark">Volver</button>
			</form>
			<br><br><br>
			{{{listarOferta listado}}}
			<br>
		  	<div class="col-6 col-md-4">
		  		<h2>Preguntas frecuentes</h2>
		  		<br>
		  		<div class="container">
		  			<h4>¿Dónde puedo ver los cursos disponibles?</h4>
		  			<p>Para ver los cursos disponibles sólo es necesario que te desplaces en la página principal hasta el banner de nuestra oferta educativa y das click en "Ver más.</p>
		  			<br>
		  			<h4>¿Cómo puedo inscribirme a un curso?</h4>
		  			<p>Para ello primero tienes que refistrarte con tus datos personales, posteriormente te llegará un correo de bienvenida y podrás ingresar a la plataforma. Una vez dentro, puede ir al apartado de "Oferta" y seleccionar un curso para inscribir.</p>
		  			<br>
		  			<h4>¿Cómo puedo ver mis cursos inscritos?</h4>
		  			<p>Estando loggeado con tu cuenta, te vas al apartado "Home". Allí podrás ver tus cursos inscritos.</p>
		  			<br>
		  			<h4>¿Cómo puedo cancelar mi inscripción a un curso?</h4>
		  			<p>Dentro del apartado "Home" puedes seleccionar un curso inscrito y cancelar tu inscripción</p>
		  			<br>
		  			<h4>¿El curso está cerrado, puedo cancelar mi inscripción?</h4>
		  			<p>Sí puedes hacerlo. La cancelación de la inscripción aplica también una vez cerrado el curso.</p>
		  		</div>
		  		<br>
		  	</div>
		</div>
	</div>



</body>