{{>headerDocente}}

<body>
	<div class="container">
		<h1>Bienvenido {{nombre}} !</h1>
		<img src="data:img/png; base64,{{avatar}}" class="img-fluid">
		<br>
		<h3>Mis cursos inscritos</h3>
		<br>
		{{{misCursitos listaCursos}}}
	</div>
</body>