{{>headerDocente}}

<body>
	<div class="container">
		<br>
		<form action="/docente/home" method="get">
			<button class="btn btn-dark">Volver</button>
		</form>

    	<br>
		
    	{{{mostrarAspirantosos id aspirantes}}}

	</div>
</body>