{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
		<form action="/coordinador/home" method="get">
			<button class="btn btn-dark">Volver</button>
		</form>
		<br>
		<div class="jumbotron jumbotron-fluid">
	  		<div class="container">
	    		<h1 class="display-4">¡Curso cerrado exitosamente!</h1>
	  		</div>
		</div>

	</div>

</body>