{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
		<form action="/coordinador/cursos" method="get">
			<button class="btn btn-dark">Volver</button>
		</form>
		<br>
		<div class="container">
	  		<form action="/coordinador/cursoCerrado" method="get">
	  			<div class="form-group">
		    		<label for="document">Seleccione un docente para el curso</label>
		   	 		<input type="number" class="form-control" name="document" placeholder="Documento del docente" required>
		   	 		<input type="hidden" value="{{idcurso}}" name="idCurso">
	  			</div>
				<button class="btn btn-dark">Aceptar</button>
			</form>
		</div>

	</div>

</body>