{{>headerCoordinador}}

<body>
	<br>
	<div class="container">
		<h3>Crear curso</h3>
		<br>
		<form action="/coordinador/cursoCreado" method="get">
  			<div class="form-group">
			    <label for="id">Id</label>
			    <input type="number" class="form-control" name="id" placeholder="Ingrese el id del curso" required>
			</div>
  			<div class="form-group">
			    <label for="nombre">Nombre</label>
			    <input type="text" class="form-control" name="nombre" placeholder="Ingrese el nombre del curso" required>
  			</div>
  			<div class="form-group">
			    <label for="descripcion">Descripción</label>
			    <textarea class="form-control" name="descripcion" rows="3"></textarea>
  			</div>
  			<div class="form-group">
			    <label for="valor">Valor</label>
			    <input type="number" class="form-control" name="valor" placeholder="Ingrese el valor del curso" required>
			</div>
			<div class="form-group">
			    <label for="modalidad">Modalidad</label>
			    <input type="text" class="form-control" name="modalidad" placeholder="Ingrese la modalidad del curso" required>
  			</div>
  			<div class="form-group">
			    <label for="intensidad">Intensidad</label>
			    <input type="text" class="form-control" name="intensidad" placeholder="Ingrese la intensidad horaria del curso" required>
  			</div>
  			<button type="submit" class="btn btn-primary">Crear curso</button>
		</form>

		<br>
	</div>

</body>