{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
		<form action="/coordinador/crearCurso" method="get">
			<button class="btn btn-dark">Nuevo Curso</button>
		</form>
		<br>
		<h3>Información de todos los cursos</h3>
		<br>
		{{{listarCursos listado}}}
	</div>
	
</body>