{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
		Usted es un coordinador  :V
		<br>
		<h3>Dashboard</h3>
		<div class="container-fluid">
			<br>
			<h4>Cursos disponibles</h4>
			<div class="container-fluid">
				<br>
				{{{listarDisponibles2}}}
				<br>
			</div>
		</div>

	</div>
</body>