{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
		<form action="/coordinador/cursos" method="get">
			<button class="btn btn-dark">Volver</button>
		</form>

    	<br>
		
    	{{{mostrarAspirantes id aspirantes idCurso}}}

	</div>
</body>