{{>headerCoordinador}}

<body>
	<div class="container">
		<br>
			<form action="/coordinador/cursos" method="get">
				<button class="btn btn-dark">Volver</button>
			</form>
		<br>

		<form action='/coordinador/cerrarCurso' method='get'> 
        	<input type='hidden' name='idCurso' value='{{idCurso}}'>
        	<button class='btn btn-outline-secondary'>Cerrar curso</button>
    	</form>

    	<br>
		
    	

		









	</div>
</body>